<!--provided as boilerplate.
Displays buttons for “Login” and “Sign Up.” -->

<%- include('partials/header', { title: "Home" }) %>
    <h1>Welcome to the Authentication Project</h1>
    <span class="index-button-container">
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/signup'">Sign Up</button>
    </span>
<%- include('partials/footer') %>
