<!--Provide a logout button on the landing page to log users out and destroy their session. -->
<!--Redirect users here after login.-->
<!--For users, display a simple dashboard with their username. -->
<!--For admins, display all registered users with their email and role.-->
<%- include('partials/header', { title: "Landing" }) %>
<h1> <%= landingMessage %> </h1> <!--Have two titles as there is user(dashboard) and admin(all users)-->
<!--CHECK - try and  -->
<%- include('partials/footer') %>